.Signup_bgc{
    background-image: url("../../img/undraw_subscriptions_1xdv.svg");
    height: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    margin-right: 80px;
}