.Signin_bgc {
  background-image: url('../../img/Screen\ Shot\ 2020-11-12\ at\ 19.35.48.png');
  /* height: 100hv; */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  margin-right: 80px;
}
