@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
:root {
  /* --backg: #FAFBFA; */
  --backg: #262a2b;
  --nav: #E35864;
  --btn: #5C4C75;
  --nav3: #443F38;
  --nav4: #940f0a;
  --border: #f48d3385;
}

main{
  padding: 0 !important;
  margin: 0 !important;
}


.navbar-brand{
  font-family: 'Playfair Display', serif;
  
}
h1,h2,h3,h4,h5{
  color:var(--btn) !important;
  
}


.decor {
  text-decoration: none !important;
  color: black;
}

.decor:hover {
  color: black;
}

.text-logout {
  color: var(--nav4) !important;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.bg {
  background-color: var(--nav) !important;
  letter-spacing: 1.2px;
}
.desc {
  border-bottom: 1px solid var(--border);
    min-height: 130px;
  max-height: 400px;
  overflow-y: scroll;
  text-align: justify;
}
.borderd{
  border-top: 1px solid var(--border) ;
  border-bottom: 1px solid var(--border) ;
}
.prim {
  background-color: var(--btn) !important;
  border-color: var(--btn) !important;
}
main {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: var(--backg) !important;
}

.card {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border: 0cm !important;
  background-color: var(--backg);
}
.card h3{
  font-size: 20px !important;
  font-weight: 600;
  margin-bottom: 0;
}
.card h5{
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom: 0;
}
.editorIcon{
width: 20%;
font-size: 1.6rem;
color: var(--nav3);
}
.deleteIcon{
width: 20%;
font-size: 1.6rem;
color: var(--nav4);
cursor: pointer;
}

.cardLink {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.cardLink:hover {
  transform: scale(1.05);
}

.card > img {
  height: 50%;
  padding: 0 !important;
}
.card::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.desc::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important; /* IE 11 */
  scrollbar-width: none !important; /* Firefox 64 */
}

.about_img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
